#filterHotels{

  height: 30px;
  padding: 10px;

  input {
    height: 25px;
    width: 60%;
    color: #888;
    padding-left: 10px;
    margin-right: 10px;
  }

  select{
    width: 36%;
    position: relative;
    float: right;
  }
}